<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ggn.meye" version="1.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>M-Eye</name>
  <description>
    A hybrid app to perform visual feild test
  </description>
  <author email="dev@cordova.apache.org" href="http://cordova.io">
    GGN
  </author>
  <content src="index.html" />
  <pclugin name="cordova-plugin-whitelist" version="1" />
  <plugin name="org.apache.cordova.device-motion" version="0.1.0" />
  <plugin name="Accelerometer" value="org.apache.cordova.devicemotion.AccelListener"/>
  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  <platform name="android">
    <allow-intent href="market:*" />
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
  </platform>
</widget>