<div ng-init="init()" id="ctDemoScreen">

    <div class="controlPanel">
        <a class="button expand" ng-class="controlPanelClicked ? 'success': 'alert'" ng-click="stopFlickler(dot);"> {{ controlPanelClicked ? 'Start' : 'Stop' }} Flicker</a>
    </div>
    <table ng-show="controlPanelClicked" style="width:100%;z-index:1000;">
        <tr>
            <td>
                Diameter:
            </td>
            <td>
                <input type="range" ng-model="dot.diameter" min="1" max="300" ng-change="calcStyle(dot);" />
            </td>
            <td>
                <span ng-bind="dot.diameter"></span>
            </td>
        </tr>
        <tr>
            <td>
                Position-X:
            </td>
            <td>
                <input type="range" ng-model="dot.x" min="1" max="250" ng-change="calcStyle(dot);" />
            </td>
            <td><span ng-bind="dot.x"></span></td>
        </tr>
        <tr>
            <td>
                Position-Y:
            </td>
            <td>
                <input type="range" ng-model="dot.y" min="1" max="600" ng-change="calcStyle(dot);" />
            </td>
            <td>
                <span ng-bind="dot.y"></span>
            </td>
        </tr>
    </table>
    <div id="circle" ng-style="style(dot)">
    </div>
</div>
