<div ng-init="init()">
    <div class="row">
        <div class="small-12 columns">
            <div id="dataContainerOrientation">
                Calibration
                <h1 id="calibration"> No device orientation data </h1>
                Left Eye Angle calculated
                <h1 id="leftValue"> 0 </h1>
                Right Eye Angle Calculated
                <h1 id="rightValue"> 0 </h1>
                Compass Angle
                <h1 id="alphaValue"> 0 </h1>
                <div class="text-center">
                    <div style="height:20px;width:20px;background-color:red;border-radius:10px" id="rotationachived"></div>
                </div>
            </div>
        </div>
        <div id="errorMessages" class="small-12 columns">
            <input type="button" class="button expand alert" value="click" ng-click="clicked" />
        </div>
    </div>
</div>
