<div>
    <br />
    <div class="row">
        <div class="panel callout radius">
            <h3>
                FAQ</h3>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="small-12 columns">
            <button ng-click="displayans(1)" class="btnfaqquestion">
                1. What's the difference between glaucoma and ocular hypertension?</button><br />
            <p id="demo1" style="background-color: lightblue; display: none;">
                Ans. Ocular hypertension is another term for high eye pressure. In ocular hypertension,
                IOP is higher than normal but does not cause optic nerve damage and vision loss.
                Ocular hypertension is a risk factor for glaucoma and should be monitored closely.
            </p>
            <button ng-click="displayans(2)" class="btnfaqquestion">
                2. Why does my eye doctor want to do more than one kind of glaucoma test?</button><br />
            <p id="demo2" style="background-color: lightblue; display: none;">
                Ans. The 'puff test' that most people are familiar with is a screening test that
                measures IOP. But the gold standard for measuring eye pressure is applanation tonometry.
                In this glaucoma test, an eye drop is used to numb the surface of your eye and a
                small probe rests gently on your cornea to measure IOP. Your doctor may also want
                to check for optic nerve damage by dilating your eyes, or to check for vision loss
                with a visual field test.
            </p>
            <button ng-click="displayans(3)" class="btnfaqquestion">
                3. What are the different types of glaucoma?</button><br />
            <p id="demo3" style="background-color: lightblue; display: none;">
                Ans. Primary open-angle glaucoma (POAG) is the most common form of glaucoma. The
                other types are: normal-tension, narrow-angle, closed-angle, congenital, pigmentary
                and secondary.
            </p>
            <button ng-click="displayans(4)" class="btnfaqquestion">
                4. Is glaucoma curable?</button><br />
            <p id="demo4" style="background-color: lightblue; display: none;">
                Ans. Vision loss from glaucoma cannot be reversed. Routine eye exams are essential
                to discover glaucoma early and begin glaucoma treatment <b>before significant vision
                    loss has occurred.</b>
            </p>
        </div>
    </div>
</div>
