<div>
    <div class="row">
        <div class="small-12 columns">
            <h3>What is Glaucoma ?</h3>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <p>
                Glaucoma is a group of diseases that damage the eye’s optic nerve and can result in vision loss and blindness. However, with early detection and treatment, you can often protect your eyes against serious vision loss.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <p>
                <strong>The optic nerve</strong>
            </p>
            <br />
        </div>
        <div class="small-12 medium-6 columns">
            <a href="#" class="th"><img src="img/nerve.jpg" alt="The optic nerve" /></a>
            
        </div>
        <div class="small-12 medium-6 columns">
            The optic nerve is a bundle of more than 1 million nerve fibers. It connects the retina to the brain. (See diagram above.) The retina is the light-sensitive tissue at the back of the eye. A healthy optic nerve is necessary for good vision.
        </div>
    </div>
</div>