
<br />
<div class="row">
    <div class="small-12 columns">
        <div class="panel callout radius">
            <h3>Welcome To GGN's</h3>
            <h1>Mobile-Eye Care</h1>
           
        </div>
    </div>
</div>
<div class="row">
    <div class="small-12 columns text-center">
        <div class="panel">
            <a href="#innovationlabdemo" class="th"><img src="img/eyecare.jpg" alt="Eye care Image" /></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        <div class="panel callout">
            <h4>Complete Glaucoma detection and prevention guide for you.</h4> 
        </div>
    </div>
</div>